@charset "UTF-8";

/* Media Query - Mobile First*/

*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header{
    background-image: linear-gradient(to bottom, orange, grey);
    display: block;
    width: 100vw;
    height: 300px;
}

header > img{
    display: block;
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section.sobre{
    background-color: aquamarine;
    width: 65%;
    margin: auto;
    border-radius: 20px;
}

section.sobre > div.sobre{
    width: 75%;
    margin: auto;
    text-align: center;
}