@charset "UTF-8";

/* Media Query - Mobile First*/

@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Inconsolata:wght@200..900&family=Playwrite+US+Modern:wght@100..400&family=Sriracha&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');


:root{
    --cinzaclaro: #bcb8b9;
    --cinzaescuro: #4a4949;
    --fundo: #000000;
    --laranjaclaro: #eb5b35;
    --laranjaescuro: #4c190e;
    --titulo: "Carrois Gothic", sans-serif;

}


*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header{
    background-image: linear-gradient(to bottom, var(--cinzaclaro), var(--cinzaescuro), var(--fundo));
    display: block;
    width: 100vw;
    height: 500px;
}

header > img{
    display: block;
    width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

header > h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    font-family: var(--titulo)
}

header > nav{
    display: block;
    margin: 30px;
    padding: 10px;

}

header > nav > a{
    text-align: center;
    margin: 10px;
}

body{
    background-color: var(--fundo);
}

section.serv{
    margin: auto;
    width: 80vw;
    gap: 25px;
    text-align: center;
}

section.serv > div.tipo > img{
    height: 200px;
    border-radius: 10px;
    border: 2px solid white;
    margin: auto;
    width: auto;
}

section.serv > div.tipo > h3{
    color: #eb5b35;
}

section.serv > div.tipo > p{
    color: white;
    font-size: 0.8em;
    padding: 20px;
    margin-bottom: 20px;
    width: 50vw;
    margin: auto;
}


section.sobre{
    background-image: linear-gradient(to left, var(--laranjaclaro), var(--laranjaescuro));
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    width: 80%;
    margin: auto;
}

section.sobre > img{
    display: block;
    width: 40%;
    max-width: 250px;
    padding: 20px;
    margin: auto;
}

section.sobre > p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    margin: auto;
    padding: 20px 45px;
    text-align: center;
    color: white;
}

section.sobre > div.form{
    margin: 30px 10%;
    width: auto;
    text-align: center;
    color: var(--laranjaescuro);
}

section.sobre > div.form > p{
    background-color: white;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    margin: auto;
    font-family: var(--titulo);
    font-size: 0.8em;
}

footer{
    color: white;
    font-family: var(--titulo);
    margin-top: 50px;
    background-color: #4c190e;
    font-size: 0.8em;
    text-align: center;
}


